* {
    margin: 0;
    padding: 0;
}
.main-box {
    background-image: url(cover.png);
    height: 100vh;
    background-size: cover;
}
.card {
    height: 300px;
    width: 250px;
    border: 1px solid black;
    display: inline-block;
    background-color: azure;
    margin-top: 3.5%;
    margin-left: 6.5%;
    border-radius: 8px;
}
.card-img-top {
    height: 76%;
    width: 100%;
    border-radius: 8px;
}